@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Stardos+Stencil&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nova Mono', monospace;
}

html body {
  background-image: url("../IMAGES/P4LP9H0-mathematics-wallpaper.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-position: center;
}

html body .dark-mode {
  background-color: rgba(24, 24, 24, 0.5);
}

html body .dark-mode form {
  background-color: rgba(24, 24, 24, 0.5);
}

html body .dark-mode form nav {
  background-color: rgba(144, 144, 144, 0.5);
}

html body .dark-mode form nav div {
  background-color: rgba(24, 24, 24, 0.5);
}

html body a {
  text-decoration: none;
  color: gainsboro;
}

html body a:hover {
  color: gainsboro;
}

html body .nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  background-color: rgba(26, 23, 23, 0.404);
}

html body .nav-bar h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: gainsboro;
}

html body .nav-bar h1 i {
  padding-right: 0.5rem;
}

html body .nav-bar h1 span {
  padding: 0;
  font-weight: bold;
  color: #CE3323;
}

html body .nav-bar #list-example {
  position: absolute;
  right: 1rem;
  width: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

html body .nav-bar #list-example .nav-link {
  background: none;
}

html body .nav-bar #list-example .nav-link:hover {
  background: none !important;
}

html body .nav-bar #list-example .nav-link.active {
  background: none !important;
}

html body .nav-bar #list-example .list {
  text-decoration: none;
  color: gainsboro;
  opacity: 0.5;
  padding: 0 1rem 0 1rem;
}

html body .nav-bar #list-example .list:hover {
  opacity: 1;
  background: none !important;
}

html body .nav-bar #list-example .list.active {
  opacity: 1;
  background: none !important;
}

html body .nav-bar #list-example #li1::before {
  content: "Home";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li1:hover::before {
  width: 4ch;
}

html body .nav-bar #list-example #li1.active::before {
  width: 4ch;
}

html body .nav-bar #list-example #li2::before {
  content: "RateaUs";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li2:hover::before {
  width: 7ch;
}

html body .nav-bar #list-example #li2.active::before {
  width: 7ch;
}

html body .nav-bar #list-example #li3::before {
  content: "SomeaFeelings";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li3:hover::before {
  width: 13ch;
}

html body .nav-bar #list-example #li3.active::before {
  width: 13ch;
}

html body .nav-bar #list-example #li4::before {
  content: "ReportaProblem";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li4:hover::before {
  width: 14ch;
}

html body .nav-bar #list-example #li4.active::before {
  width: 14ch;
}

html body .nav-bar #bar, html body .nav-bar #back {
  display: none;
  position: absolute;
  right: 1rem;
  z-index: 2;
  color: gainsboro;
  font-size: 2rem;
  top: 1rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (max-width: 992px) {
  html body .nav-bar #bar {
    display: block;
  }
  html body .nav-bar #list-example {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 1rem;
    height: 0;
    top: 4rem;
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    overflow: hidden;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), to(rgba(26, 23, 23, 0.4)));
    background-image: linear-gradient(to top, rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.4));
  }
}

@media (max-width: 992px) and (max-width: 576px) {
  html body .nav-bar #list-example {
    padding-top: 3rem;
  }
}

html body #date-time {
  font-family: 'Stardos Stencil', cursive;
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 1;
  width: 35ch;
  border-radius: 0 0 7rem 0;
  color: black;
  opacity: 0.8;
  padding: 0.25rem 2rem 0.25rem 0.25rem;
  background-color: #dc3545;
}

html body #whole {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

html body #whole #list-item-1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

html body #whole #list-item-1 #calculus {
  max-width: 576px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#1a1717), to(#dc3545));
  background-image: linear-gradient(to bottom left, #1a1717, #dc3545);
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-1 #calculus {
    max-width: 460px;
  }
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus {
    max-width: 360px;
  }
}

html body #whole #list-item-1 #calculus i {
  position: absolute;
  right: 2.5rem;
  top: 1.5rem;
  z-index: 1;
  cursor: pointer;
  font-size: 1rem;
  font-weight: light;
  line-height: 1.5rem;
}

html body #whole #list-item-1 #calculus form {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  background-color: #dcdcdc;
  overflow: hidden;
}

html body #whole #list-item-1 #calculus form input, html body #whole #list-item-1 #calculus form button {
  outline: none;
  font-size: 1.5rem;
}

html body #whole #list-item-1 #calculus form nav {
  position: relative;
  padding: 0.5rem 1rem 0 1rem;
  background-color: #cacaca;
}

html body #whole #list-item-1 #calculus form nav h3 {
  font-size: 1.5rem;
}

html body #whole #list-item-1 #calculus form nav div {
  height: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: #dcdcdc;
}

html body #whole #list-item-1 #calculus form div {
  padding: 0.5rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body #whole #list-item-1 #calculus form div #result {
  color: white;
  border-radius: 5px;
  text-align: right;
  padding: 15px 25px;
  border: none;
  background-color: #2b0e36;
  -webkit-box-shadow: 0px -5px 0px 0px #82409D;
          box-shadow: 0px -5px 0px 0px #82409D;
}

html body #whole #list-item-1 #calculus form div #copy {
  padding: 0;
}

html body #whole #list-item-1 #calculus form div #cancel {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-1 #calculus form div .row3 {
    margin: 0 0 1rem 0;
  }
}

html body #whole #list-item-1 #calculus form div .row1 {
  margin: 0 0 1rem 0;
}

html body #whole #list-item-1 #calculus form div .row2 {
  margin: 0 0 1rem 1rem;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus form div .row2 {
    margin: 0 0 1rem 0.5rem;
  }
}

html body #whole #list-item-1 #calculus form div .row3 {
  margin: 0 1rem 1rem 0;
}

@media (max-width: 586px) {
  html body #whole #list-item-1 #calculus form div .row3 {
    margin: 0 1.9rem 1rem 0.9rem;
  }
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus form div .row3 {
    margin: 0 1.25rem 1rem 0.75rem;
  }
}

@media (max-width: 356px) {
  html body #whole #list-item-1 #calculus form div .row3 {
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 281px) {
  html body #whole #list-item-1 #calculus form div .row3 {
    margin: 0 0 1rem 0;
  }
}

html body #whole #list-item-1 #calculus form div .row4 {
  margin: 0 0 0 0.5rem;
}

html body #whole #list-item-1 #calculus form div .row5 {
  margin: 0 0 1rem 1rem;
}

@media (max-width: 356px) {
  html body #whole #list-item-1 #calculus form div .row5 {
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 281px) {
  html body #whole #list-item-1 #calculus form div .row5 {
    margin: 0 0 1rem 0;
  }
}

html body #whole #list-item-1 #calculus form div input[type=button] {
  border-radius: 5px;
  text-align: center;
  padding: 1rem auto 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
}

html body #whole #list-item-1 #calculus form div input[type=button]:active {
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #whole #list-item-1 #calculus form div .red {
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-1 #calculus form div .red:active {
  background-color: #e74c3c;
}

html body #whole #list-item-1 #calculus form div .blue {
  background-color: #2c5675;
  -webkit-box-shadow: 0px 5px 0px 0px #3C93D5;
          box-shadow: 0px 5px 0px 0px #3C93D5;
}

html body #whole #list-item-1 #calculus form div .blue:active {
  background-color: #55acee;
}

html body #whole #list-item-1 #calculus form div .green {
  background-color: #1a5f37;
  -webkit-box-shadow: 0px 5px 0px 0px #15B358;
          box-shadow: 0px 5px 0px 0px #15B358;
}

html body #whole #list-item-1 #calculus form div .green:active {
  background-color: #2ecc71;
}

html body #whole #list-item-1 #calculus #form1 {
  height: 0;
}

html body #whole #list-item-1 #calculus #form1 input[type=button] {
  border-radius: 5px;
  text-align: center;
  padding: 1rem auto 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.5rem 0 0.25rem 0;
  margin-bottom: 1rem;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-1 #calculus #form1 input[type=button]:active {
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
  background-color: #e74c3c;
}

html body #whole #list-item-1 #calculus #form1 input[type=button]:hover {
  background-color: #e74c3c;
}

html body #whole #list-item-2 {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100vh;
}

html body #whole #list-item-2 .container {
  max-width: 576px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#1a1717), to(#dc3545));
  background-image: linear-gradient(to bottom left, #1a1717, #dc3545);
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-2 .container {
    max-width: 460px;
  }
}

@media (max-width: 470px) {
  html body #whole #list-item-2 .container {
    max-width: 360px;
  }
}

html body #whole #list-item-2 .container form {
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  border-radius: 1rem;
  background-color: #dcdcdc;
  overflow: hidden;
}

html body #whole #list-item-2 .container form nav {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0 1rem;
  background-color: #cacaca;
}

html body #whole #list-item-2 .container form nav h3 {
  font-size: 1.5rem;
}

html body #whole #list-item-2 .container form input, html body #whole #list-item-2 .container form textarea {
  outline: none;
}

html body #whole #list-item-2 .container form .fill {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.5rem;
}

html body #whole #list-item-2 .container form .fill .enter {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background: none;
  width: 100%;
  padding-left: 1rem;
  color: #4d4d4d;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border: none;
  border-bottom: 3px solid gray;
}

html body #whole #list-item-2 .container form .fill .enter:hover {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-2 .container form .fill .enter:focus {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-2 .container form .fill .enter:focus ~ label {
  margin-top: 0rem;
}

html body #whole #list-item-2 .container form .fill .enter:valid {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-2 .container form .fill .enter:valid ~ label {
  margin-top: 0rem;
}

html body #whole #list-item-2 .container form .fill .labl {
  position: absolute;
  left: 1rem;
  margin-top: 2rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #whole #list-item-2 .container form .fill #rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

html body #whole #list-item-2 .container form .fill #rat {
  position: absolute;
  margin: 0.5rem 0 0 0.25rem;
}

html body #whole #list-item-2 .container form .fill input[type=radio] {
  height: 0rem;
  width: 0rem;
  margin: 0 0 0 0.5rem;
}

html body #whole #list-item-2 .container form .fill input[type=radio]:checked ~ .rat {
  color: goldenrod;
}

html body #whole #list-item-2 .container form .fill input[type=radio]:hover ~ .rat {
  color: goldenrod;
}

html body #whole #list-item-2 .container form .fill .rat {
  font-size: 2rem;
  color: gray;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #whole #list-item-2 .container form button {
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 1rem 0 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-2 .container form button:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #whole #list-item-2 .container form button:hover {
  background-color: #e74c3c;
}

html body #whole #list-item-3 {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100vh;
}

html body #whole #list-item-3 .container {
  max-width: 576px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#1a1717), to(#dc3545));
  background-image: linear-gradient(to bottom left, #1a1717, #dc3545);
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-3 .container {
    max-width: 460px;
  }
}

@media (max-width: 470px) {
  html body #whole #list-item-3 .container {
    max-width: 360px;
  }
}

html body #whole #list-item-3 .container form {
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  border-radius: 1rem;
  background-color: #dcdcdc;
  overflow: hidden;
}

html body #whole #list-item-3 .container form nav {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0 1rem;
  background-color: #cacaca;
}

html body #whole #list-item-3 .container form nav h3 {
  font-size: 1.5rem;
}

html body #whole #list-item-3 .container form input, html body #whole #list-item-3 .container form textarea {
  outline: none;
}

html body #whole #list-item-3 .container form .fill {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.5rem;
}

html body #whole #list-item-3 .container form .fill .enter {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background: none;
  width: 100%;
  padding-left: 1rem;
  color: #4d4d4d;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border: none;
  border-bottom: 3px solid gray;
}

html body #whole #list-item-3 .container form .fill .enter:hover {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-3 .container form .fill .enter:focus {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-3 .container form .fill .enter:focus ~ label {
  margin-top: 0rem;
}

html body #whole #list-item-3 .container form .fill .enter:valid {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-3 .container form .fill .enter:valid ~ label {
  margin-top: 0rem;
}

html body #whole #list-item-3 .container form .fill .labl {
  position: absolute;
  left: 1rem;
  margin-top: 2rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #whole #list-item-3 .container form button {
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 1rem 0 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-3 .container form button:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #whole #list-item-3 .container form button:hover {
  background-color: #e74c3c;
}

html body #footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: gainsboro;
  padding: 0.25rem 0 0.5rem 0;
  background-color: rgba(26, 23, 23, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body #footer p {
  padding: 0;
  margin: 0;
}

html body #footer p span {
  padding: 0;
  font-weight: bold;
  color: #CE3323;
}

html body #footer p #name {
  cursor: pointer;
  color: white;
  font-weight: normal;
}

html body #footer p #name:hover {
  color: #3C93D5;
}

html body #footer button {
  border-radius: 5px;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #footer button:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #footer button:hover {
  background-color: #e74c3c;
}

html body #share {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  text-align: center;
}

html body #share a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Nova Mono', monospace;
  border-radius: 5px;
  text-align: center;
  width: 7rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  line-height: 4rem;
  text-decoration: none;
  color: #fff;
  outline: none;
  border: none;
  background-color: #9b59b6;
  -webkit-box-shadow: 0px 5px 0px 0px #82409D;
          box-shadow: 0px 5px 0px 0px #82409D;
}

html body #share a:active {
  background-color: #B573D0;
  line-height: 3.5rem;
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #share a:hover {
  background-color: #B573D0;
}
/*# sourceMappingURL=style.css.map */