@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Stardos+Stencil&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nova Mono', monospace;
}

html body {
  background-image: url("../IMAGES/P4LP9H0-mathematics-wallpaper.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  background-position: center;
}

html body::-webkit-scrollbar {
  width: 5px;
}

html body::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #333333;
}

html body #loading {
  position: fixed;
  z-index: 999999999999999999999999999999999999999999999999999;
  width: 100%;
  height: 100vh;
  background: #1d1f20 url("https://codetea.com/content/images/2017/09/CSS3-Loading-Spinner.gif") no-repeat center;
}

html body #m-alert, html body #t-alert, html body #e-alert {
  display: none;
  position: fixed;
  overflow: hidden;
  background-color: #5a5a5a;
  z-index: 999999999999999999999;
  left: 50%;
  top: 50%;
  width: 358px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  font-family: 'Nova Mono', monospace;
  color: gainsboro;
}

@media (max-width: 535px) {
  html body #m-alert, html body #t-alert, html body #e-alert {
    width: 70vw;
  }
}

@media (min-width: 535px) {
  html body #m-alert, html body #t-alert, html body #e-alert {
    max-height: 95vh;
  }
}

html body #m-alert p, html body #t-alert p, html body #e-alert p {
  width: 100%;
}

html body #m-alert span, html body #t-alert span, html body #e-alert span {
  display: -ms-grid;
  display: grid;
  place-self: center;
}

html body #m-alert .s2, html body #t-alert .s2, html body #e-alert .s2 {
  display: -ms-grid;
  display: grid;
  place-self: right;
}

html body #m-alert h4, html body #t-alert h4, html body #e-alert h4 {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #m-alert h4:active, html body #t-alert h4:active, html body #e-alert h4:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #m-alert h4:hover, html body #t-alert h4:hover, html body #e-alert h4:hover {
  background-color: #e74c3c;
}

html body a {
  text-decoration: none;
  color: gainsboro;
}

html body a:hover {
  color: gainsboro;
}

html body #dummy {
  position: absolute;
  height: 0;
  width: 0;
  z-index: -100;
  opacity: 0;
}

html body .nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  background-color: rgba(26, 23, 23, 0.404);
}

html body .nav-bar h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: gainsboro;
}

html body .nav-bar h1 i {
  padding-right: 0.5rem;
}

html body .nav-bar h1 span {
  padding: 0;
  font-weight: bold;
  color: #CE3323;
}

html body .nav-bar #list-example {
  position: absolute;
  right: 1rem;
  width: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

html body .nav-bar #list-example .nav-link {
  background: none;
}

html body .nav-bar #list-example .nav-link:hover {
  background: none !important;
}

html body .nav-bar #list-example .nav-link.active {
  background: none !important;
}

html body .nav-bar #list-example .list {
  text-decoration: none;
  color: gainsboro;
  opacity: 0.5;
  padding: 0 1rem 0 1rem;
}

html body .nav-bar #list-example .list:hover {
  opacity: 1;
  background: none !important;
}

html body .nav-bar #list-example .list.active {
  opacity: 1;
  background: none !important;
}

html body .nav-bar #list-example #li1::before {
  content: "Home";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li1:hover::before {
  width: 4ch;
}

html body .nav-bar #list-example #li1.active::before {
  width: 4ch;
}

html body .nav-bar #list-example #li2::before {
  content: "RateaUs";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li2:hover::before {
  width: 7ch;
}

html body .nav-bar #list-example #li2.active::before {
  width: 7ch;
}

html body .nav-bar #list-example #li3::before {
  content: "SomeaFeelings";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li3:hover::before {
  width: 13ch;
}

html body .nav-bar #list-example #li3.active::before {
  width: 13ch;
}

html body .nav-bar #list-example #li4::before {
  content: "ReportaProblem";
  position: absolute;
  width: 0%;
  color: transparent;
  overflow: hidden;
  border-bottom: 3px solid #dc3545;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body .nav-bar #list-example #li4:hover::before {
  width: 14ch;
}

html body .nav-bar #list-example #li4.active::before {
  width: 14ch;
}

html body .nav-bar #bar, html body .nav-bar #back {
  display: none;
  position: absolute;
  right: 1rem;
  z-index: 2;
  color: gainsboro;
  font-size: 2rem;
  top: 1rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (max-width: 992px) {
  html body .nav-bar #bar {
    display: block;
  }
  html body .nav-bar #list-example {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 1rem;
    height: 0;
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    top: 4rem;
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    overflow: hidden;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), color-stop(rgba(26, 23, 23, 0.8)), to(rgba(26, 23, 23, 0.4)));
    background-image: linear-gradient(to top, rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.8), rgba(26, 23, 23, 0.4));
  }
}

@media (max-width: 992px) and (max-width: 576px) {
  html body .nav-bar #list-example {
    padding-top: 3rem;
  }
}

html body #date-time {
  font-family: 'Stardos Stencil', cursive;
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 1;
  width: 35ch;
  border-radius: 0 0 7rem 0;
  color: black;
  opacity: 0.8;
  padding: 0.25rem 2rem 0.25rem 0.25rem;
  background-color: #dc3545;
}

html body #whole {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

html body #whole #list-item-1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

html body #whole #list-item-1 #calculus {
  max-width: 576px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#1a1717), to(#dc3545));
  background-image: linear-gradient(to bottom left, #1a1717, #dc3545);
  border-radius: 1.5rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  padding: 1rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-1 #calculus {
    max-width: 460px;
  }
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus {
    max-width: 360px;
  }
}

html body #whole #list-item-1 #calculus i {
  position: absolute;
  right: 2.5rem;
  top: 1.5rem;
  z-index: 5;
  cursor: pointer;
  font-size: 1rem;
  font-weight: light;
  line-height: 1.5rem;
}

html body #whole #list-item-1 #calculus form {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  border-radius: 1rem;
  background-color: #dcdcdc;
  overflow: hidden;
}

html body #whole #list-item-1 #calculus form input, html body #whole #list-item-1 #calculus form button {
  outline: none;
  font-size: 1.5rem;
}

html body #whole #list-item-1 #calculus form nav {
  position: relative;
  padding: 0.5rem 1rem 0 1rem;
  background-color: #cacaca;
}

html body #whole #list-item-1 #calculus form nav h3 {
  font-size: 1.5rem;
}

html body #whole #list-item-1 #calculus form nav div {
  height: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  background-color: #dcdcdc;
}

html body #whole #list-item-1 #calculus form .div {
  padding: 0.5rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus form .div {
    height: 55vh;
    overflow: auto;
  }
}

html body #whole #list-item-1 #calculus form .div input[type=text] {
  color: white;
  border-radius: 5px;
  text-align: right;
  padding: 15px 25px;
  border: none;
  margin-bottom: 1rem;
  background-color: #2b0e36;
  -webkit-box-shadow: 0px -5px 0px 0px #82409D;
          box-shadow: 0px -5px 0px 0px #82409D;
}

html body #whole #list-item-1 #calculus form .div input[value=Copy] {
  z-index: 1;
}

html body #whole #list-item-1 #calculus form .div #copy {
  position: absolute;
  left: 1.75rem;
  bottom: 20rem;
  padding: 0.25rem 0.5rem 0.125rem 0.5rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-1 #calculus form .div .row3 {
    margin: 0 0 1rem 0;
  }
}

html body #whole #list-item-1 #calculus form .div .row1 {
  margin: 0 0 1rem 0;
}

html body #whole #list-item-1 #calculus form .div .row2 {
  margin: 0 0 1rem 1rem;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus form .div .row2 {
    margin: 0 0 1rem 0.5rem;
  }
}

html body #whole #list-item-1 #calculus form .div .row3 {
  margin: 0 0 1rem 3.5rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-1 #calculus form .div .row3 {
    margin: 0 0 1rem 1.5rem;
  }
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus form .div .row3 {
    margin: 0 0 1rem 1rem;
  }
}

@media (max-width: 329px) {
  html body #whole #list-item-1 #calculus form .div .row3 {
    margin: 0 0 1rem 0.5rem;
  }
}

html body #whole #list-item-1 #calculus form .div .row4 {
  margin: 0 0 1rem 1rem;
}

html body #whole #list-item-1 #calculus form .div .row5 {
  margin: 0 3.5rem 1rem 1rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-1 #calculus form .div .row5 {
    margin: 0 1rem 1rem 1rem;
  }
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus form .div .row5 {
    margin: 0 1.5rem 1rem 1rem;
  }
}

@media (max-width: 329px) {
  html body #whole #list-item-1 #calculus form .div .row5 {
    margin: 0 0.5rem 1rem 1rem;
  }
}

html body #whole #list-item-1 #calculus form .div input[type=button] {
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 0.25rem 0 0.125rem 0;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
}

html body #whole #list-item-1 #calculus form .div input[type=button]:active {
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #whole #list-item-1 #calculus form .div .red {
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-1 #calculus form .div .red:active {
  background-color: #e74c3c;
}

html body #whole #list-item-1 #calculus form .div .blue {
  background-color: #2c5675;
  -webkit-box-shadow: 0px 5px 0px 0px #3C93D5;
          box-shadow: 0px 5px 0px 0px #3C93D5;
}

html body #whole #list-item-1 #calculus form .div .blue:active {
  background-color: #55acee;
}

html body #whole #list-item-1 #calculus form .div .green {
  background-color: #1a5f37;
  -webkit-box-shadow: 0px 5px 0px 0px #15B358;
          box-shadow: 0px 5px 0px 0px #15B358;
}

html body #whole #list-item-1 #calculus form .div .green:active {
  background-color: #2ecc71;
}

html body #whole #list-item-1 #calculus form .div .orange {
  background-color: #af601a;
  -webkit-box-shadow: 0px 5px 0px 0px #e67e22;
          box-shadow: 0px 5px 0px 0px #e67e22;
}

html body #whole #list-item-1 #calculus form .div .orange:active {
  background-color: #FF983C;
}

html body #whole #list-item-1 #calculus form .div .yellow {
  background-color: #b9970e;
  -webkit-box-shadow: 0px 5px 0px 0px #f1c40f;
          box-shadow: 0px 5px 0px 0px #f1c40f;
}

html body #whole #list-item-1 #calculus form .div .yellow:active {
  background-color: #FFDE29;
}

html body #whole #list-item-1 #calculus #form1 {
  height: auto;
  display: none;
  overflow: hidden;
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus #form1 .menu {
    height: 55vh;
    overflow: auto;
  }
}

html body #whole #list-item-1 #calculus #form1 input[type=button] {
  border-radius: 5px;
  text-align: center;
  padding: 1rem auto 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.5rem 0 0.25rem 0;
  margin-bottom: 1rem;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-1 #calculus #form1 input[type=button]:active {
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
  background-color: #e74c3c;
}

html body #whole #list-item-1 #calculus #form1 input[type=button]:hover {
  background-color: #e74c3c;
}

html body #whole #list-item-1 #calculus #form3 {
  height: auto;
  display: none;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus #form3 nav h3 {
    font-size: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus #form3 div {
    height: 55vh;
    overflow: auto;
  }
}

html body #whole #list-item-1 #calculus #form3 #copy2 {
  position: absolute;
  left: 1.75rem;
  bottom: 23.7rem;
  padding: 0.25rem 0.5rem 0.125rem 0.5rem;
}

html body #whole #list-item-1 #calculus #form4 {
  height: auto;
  display: none;
  overflow: hidden;
  padding-bottom: 1rem;
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus #form4 #inn {
    height: 55vh;
    overflow: auto;
  }
}

html body #whole #list-item-1 #calculus #form4 #inn p {
  font-size: 1.25rem;
}

html body #whole #list-item-1 #calculus #form4 #inn select {
  outline: none;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.5rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  color: gainsboro;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: center;
}

html body #whole #list-item-1 #calculus #form4 #inn select::-webkit-scrollbar {
  width: 5px;
}

html body #whole #list-item-1 #calculus #form4 #inn select::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #333333;
}

html body #whole #list-item-1 #calculus #form4 #inn select option {
  text-align: center;
  color: #3a3a3a;
  background-color: gainsboro;
}

html body #whole #list-item-1 #calculus #form4 #inn #alert {
  margin-top: 1rem;
  padding: 0;
  color: #b86f44;
  border-bottom: 2px solid #b86f44;
}

html body #whole #list-item-1 #calculus #form4 #inn #info {
  margin-top: 1rem;
  padding: 0;
  color: #b8b844;
}

html body #whole #list-item-1 #calculus #form4 #inn input[type=button] {
  margin-bottom: 1rem;
}

html body #whole #list-item-1 #calculus #form4 #res {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0 1rem 1rem 1rem;
}

html body #whole #list-item-1 #calculus #form4 #res::-webkit-scrollbar {
  width: 5px;
}

html body #whole #list-item-1 #calculus #form4 #res::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #333333;
}

html body #whole #list-item-1 #calculus #form4 #res input {
  border-radius: 5px;
  text-align: center;
  padding-right: 1rem;
  margin-left: 0.5rem;
  width: 100%;
  padding-left: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-1 #calculus #form4 #res input:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #whole #list-item-1 #calculus #form4 #res span {
  padding: 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #a3a3a3;
}

html body #whole #list-item-1 #calculus #form4 #res span p {
  font-size: 1.2rem;
  padding: 0;
  margin: 0.25rem 0 0.25rem 0;
  border-bottom: 2px solid #ce3323;
}

html body #whole #list-item-1 #calculus #form4 #res span span {
  padding: 0;
  border-radius: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

html body #whole #list-item-1 #calculus #form4 #res span .bd {
  border: none;
  outline: none;
  background-color: transparent;
}

html body #whole #list-item-1 #calculus #form4 #res input[type=button] {
  margin-top: 00.25rem;
}

html body #whole #list-item-1 #calculus #form5 {
  height: auto;
  display: none;
  overflow: hidden;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus #form5 nav h3 {
    font-size: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

html body #whole #list-item-1 #calculus #form5 .cont {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  position: relative;
  /* Scrollbar */
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies {
  height: 50vh;
  background-color: gainsboro;
  padding: 1rem 1rem 1rem 1rem;
  overflow-y: auto;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies li {
  background-color: #616161;
  border-radius: 5px;
  list-style: none;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  position: relative;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies li:last-child {
  margin-bottom: 0;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies li.base-currency {
  background-color: #882d22;
}

html body #whole #list-item-1 #calculus #form5 .cont .flag {
  width: 70px;
  height: 50px;
  border: 1px solid #fff;
  margin-bottom: 0.5rem;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus #form5 .cont .flag {
    margin-right: 70%;
  }
}

html body #whole #list-item-1 #calculus #form5 .cont .info {
  width: 78%;
  color: gainsboro;
}

html body #whole #list-item-1 #calculus #form5 .cont .info .input span {
  font-size: 1.8rem;
  text-align: center;
}

html body #whole #list-item-1 #calculus #form5 .cont .info .input input {
  font-size: 1.5rem;
  max-width: 90%;
  outline: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus #form5 .cont .info .input input {
    max-width: 80%;
  }
}

html body #whole #list-item-1 #calculus #form5 .cont .info p {
  text-align: left;
}

html body #whole #list-item-1 #calculus #form5 .cont .info .currency-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  margin-left: 3rem;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus #form5 .cont .info .currency-name {
    margin-left: 0rem;
  }
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus #form5 .cont .info .currency-name {
    margin-left: 0rem;
    font-size: 1rem;
  }
}

html body #whole #list-item-1 #calculus #form5 .cont .info .base-currency-rate {
  font-size: 1rem;
  padding: 0;
  margin-left: 3rem;
}

@media (max-width: 470px) {
  html body #whole #list-item-1 #calculus #form5 .cont .info .base-currency-rate {
    margin-left: 0rem;
  }
}

@media (max-width: 355px) {
  html body #whole #list-item-1 #calculus #form5 .cont .info .base-currency-rate {
    margin-left: 0rem;
    font-size: 0.8rem;
  }
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies li .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: #882d22;
  cursor: pointer;
  opacity: 1;
  text-shadow: none;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies li .close:hover {
  color: gainsboro;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies li.base-currency .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: #616161;
  cursor: pointer;
  opacity: 1;
  text-shadow: none;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies li.base-currency .close:hover {
  color: gainsboro;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies::-webkit-scrollbar {
  width: 5px;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.currencies::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #882d22;
  border-bottom: 1rem solid #882d22;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.add-currency-list::-webkit-scrollbar {
  width: 5px;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.add-currency-list::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #882d22;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.add-currency-list {
  position: absolute;
  z-index: 1;
  top: 0.25rem;
  left: 100%;
  width: 93%;
  background-color: #dcdcdc;
  color: #333;
  height: 53vh;
  overflow-y: auto;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-bottom: 1rem;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.add-currency-list li {
  list-style: none;
  padding: 0.75rem;
  border-bottom: 1px solid #4d4d4d;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.add-currency-list li.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.add-currency-list li .flag {
  width: 3rem;
  height: 2rem;
  vertical-align: middle;
}

html body #whole #list-item-1 #calculus #form5 .cont ul.add-currency-list li span {
  margin-left: 1.5rem;
  font-weight: bold;
}

html body #whole #list-item-1 #calculus #form5 .cont .add-currency-btn {
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-top: 0.1rem solid gainsboro;
  outline: none;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  position: relative;
}

html body #whole #list-item-1 #calculus #form5 .cont .add-currency-btn.open {
  border-top: 0.1rem solid gainsboro;
  margin-top: 1rem;
  z-index: 1;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-1 #calculus #form5 .cont .add-currency-btn.open:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #whole #list-item-1 #calculus #form5 .cont .add-currency-btn.open + ul.add-currency-list {
  left: 6%;
}

html body #whole #list-item-1 #calculus #form5 .cont .add-currency-btn.open + ul.add-currency-list li:hover {
  background-color: #ddd;
}

html body #whole #list-item-1 #calculus #form6 {
  height: auto;
  display: none;
  overflow: hidden;
}

html body #whole #list-item-1 #calculus #form6 .div #outer {
  background: transparent;
  text-align: center;
  margin: 0 auto;
}

html body #whole #list-item-1 #calculus #form6 .div .main {
  table-layout: fixed;
  margin: 5px auto;
  text-align: left;
  border: 0;
  width: 100%;
  margin-top: 0;
}

html body #whole #list-item-1 #calculus #form6 .div .main td {
  padding: 0 8px;
  vertical-align: middle;
  width: 50%;
  border: 0;
}

html body #whole #list-item-1 #calculus #form6 .div ul {
  padding: 0 0 5px 5px;
  list-style: none;
}

html body #whole #list-item-1 #calculus #form6 .div li {
  line-height: 16px;
}

html body #whole #list-item-1 #calculus #form6 .div .main input,
html body #whole #list-item-1 #calculus #form6 .div select {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ce3323;
  margin: 3px 0;
  padding: 2px;
  outline: none;
  text-align: center;
  font-size: 1.25rem;
}

html body #whole #list-item-1 #calculus #form6 .div input.output {
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid #ce3323;
  text-align: center;
}

html body #whole #list-item-1 #calculus #form6 .div #t1 {
  width: 100%;
}

html body #whole #list-item-1 #calculus #form6 .div #t2,
html body #whole #list-item-1 #calculus #form6 .div #t3,
html body #whole #list-item-1 #calculus #form6 .div #t4,
html body #whole #list-item-1 #calculus #form6 .div #t5,
html body #whole #list-item-1 #calculus #form6 .div #t6 {
  display: none;
  width: 100%;
  height: 100%;
}

html body #whole #list-item-2 {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100vh;
}

html body #whole #list-item-2 .container {
  max-width: 576px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#1a1717), to(#dc3545));
  background-image: linear-gradient(to bottom left, #1a1717, #dc3545);
  border-radius: 1.5rem;
  position: absolute;
  overflow: auto;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  padding: 1rem;
}

@media (max-width: 586px) {
  html body #whole #list-item-2 .container {
    max-width: 460px;
  }
}

@media (max-width: 470px) {
  html body #whole #list-item-2 .container {
    max-width: 360px;
  }
}

html body #whole #list-item-2 .container form {
  width: 100%;
  max-height: 70vh;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  border-radius: 1rem;
  background-color: #dcdcdc;
  overflow: auto;
}

html body #whole #list-item-2 .container form nav {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0 1rem;
  background-color: #cacaca;
}

html body #whole #list-item-2 .container form nav h3 {
  font-size: 1.5rem;
}

html body #whole #list-item-2 .container form input, html body #whole #list-item-2 .container form textarea {
  outline: none;
}

html body #whole #list-item-2 .container form .fill {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.5rem;
}

html body #whole #list-item-2 .container form .fill .enter {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background: none;
  width: 100%;
  padding-left: 1rem;
  color: #4d4d4d;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border: none;
  border-bottom: 3px solid gray;
}

html body #whole #list-item-2 .container form .fill .enter:hover {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-2 .container form .fill .enter:focus {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-2 .container form .fill .enter:focus ~ label {
  margin-top: 0rem;
}

html body #whole #list-item-2 .container form .fill .enter:valid {
  border-bottom: 3px solid #CE3323;
}

html body #whole #list-item-2 .container form .fill .enter:valid ~ label {
  margin-top: 0rem;
}

html body #whole #list-item-2 .container form .fill .labl {
  position: absolute;
  left: 1rem;
  margin-top: 2rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #whole #list-item-2 .container form .fill #rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

html body #whole #list-item-2 .container form .fill #rat {
  position: absolute;
  margin: 0.5rem 0 0 0.25rem;
}

html body #whole #list-item-2 .container form .fill input[type=radio] {
  height: 0rem;
  width: 0rem;
  margin: 0 0 0 0.5rem;
}

html body #whole #list-item-2 .container form .fill input[type=radio]:checked ~ .rat {
  color: goldenrod;
}

html body #whole #list-item-2 .container form .fill input[type=radio]:hover ~ .rat {
  color: goldenrod;
}

html body #whole #list-item-2 .container form .fill .rat {
  font-size: 2rem;
  color: gray;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #whole #list-item-2 .container form #pro, html body #whole #list-item-2 .container form #re {
  display: none;
}

html body #whole #list-item-2 .container form #rep {
  display: inline-block;
}

html body #whole #list-item-2 .container form #rep, html body #whole #list-item-2 .container form #re {
  cursor: pointer;
  padding: 0.25rem 0 0 0;
  margin: 0;
  border-bottom: 1px dashed #ce3323;
}

html body #whole #list-item-2 .container form #rep:hover, html body #whole #list-item-2 .container form #re:hover {
  color: #ce3323;
}

html body #whole #list-item-2 .container form button {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 1rem 0 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #whole #list-item-2 .container form button:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #whole #list-item-2 .container form button:hover {
  background-color: #e74c3c;
}

html body #footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: gainsboro;
  padding: 0.25rem 0 0.5rem 0;
  background-color: rgba(26, 23, 23, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body #footer p {
  padding: 0;
  margin: 0;
}

html body #footer p span {
  padding: 0;
  font-weight: bold;
  color: #CE3323;
}

html body #footer p #name {
  cursor: pointer;
  color: white;
  font-weight: normal;
}

html body #footer p #name:hover {
  color: #3C93D5;
}

html body #footer button {
  border-radius: 5px;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: #882d22;
  -webkit-box-shadow: 0px 5px 0px 0px #CE3323;
          box-shadow: 0px 5px 0px 0px #CE3323;
}

html body #footer button:active {
  background-color: #e74c3c;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #footer button:hover {
  background-color: #e74c3c;
}

html body #share {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  text-align: center;
}

html body #share a {
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Nova Mono', monospace;
  border-radius: 5px;
  text-align: center;
  width: 7rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  line-height: 4rem;
  text-decoration: none;
  color: #fff;
  outline: none;
  border: none;
  background-color: #9b59b6;
  -webkit-box-shadow: 0px 5px 0px 0px #82409D;
          box-shadow: 0px 5px 0px 0px #82409D;
}

html body #share a:active {
  background-color: #B573D0;
  line-height: 3.5rem;
  -webkit-box-shadow: 0px 1px 0px 0px;
          box-shadow: 0px 1px 0px 0px;
}

html body #share a:hover {
  background-color: #B573D0;
}
/*# sourceMappingURL=style.css.map */